* {
    font-family: 'Cinzel', serif;
    margin: 0;
    padding: 0;
}

img {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -7;
    background-size: cover;

}

.login-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.login-box h1 {
    font-weight: bold;
    font-size: 50px;
    letter-spacing: 25px;
    color: whitesmoke;
    border-bottom: solid;
    margin-bottom: 30px;
    font-weight: 500px;
    text-transform: uppercase;
    margin-left: 70px;
    
}

.textbox {
    height: 50px;
}

.textbox input {
    border: 2px solid whitesmoke;
    border-radius: 8px;
    background: none;
    margin: auto;
    text-align: center;
    padding: 10px 10px;
    outline: none;
    color: whitesmoke;
    font-size: 15px;
    margin-left: 37px;
    background-color: rgba(26, 0, 0, 0.6);
}

.textbox input:focus {
    width: 250px;
    border-color: lightgreen;
}

#btn {
    margin-top: 25px;
    border: 2px solid #b3ffb3;
    color:  black;
    background-color: #b3ffb3;
    border-radius: 7px;
    width: 100px;
    height: 40%;
    outline: none;
    margin-left: 35px;
    transition: 2s;
}

#btn:hover {
    background-color: lightblue;
    width: 200px;
}


body {
    background-color: lightgray;
    z-index: 99;
    opacity: 0.8 ;
}

input::placeholder {
    color: whitesmoke;
    font-weight: bolder;
    font-size: 19px;
    letter-spacing: 3px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* media queries */

@media (max-width: 375px) {
    h1 {
        font-size: 10px;
        width: 50px;
        margin: 220px;
        margin-left: 120px;
    }

}

/* modify modal size and styling starting below */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 2px solid #888;
    border-radius: 20px;
    width: 30%; /* Could be more or less, depending on screen size */
  }

  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

