* {
  font-family: Cinzel;
    background-color: #242420;
    color: #878472;
} 




/* Types of Wines Container Starts*/
.font { 
  font-family: Cinzel;;
}
.five-up-feature {
  text-align: center;
} */

.five-up-feature .five-up-feature-header {
  margin-bottom: 6rem;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.five-up-feature .five-up-feature-image {
  margin-bottom: 6rem;
}

.five-up-feature .five-up-feature-text {
  margin-bottom: 6rem;
}
/* Types of Wines Container Ends */






/*Wine Card Container Starts */
.card-wine-container {
  margin-bottom: 1rem;
  background-color: #fefefe;
  color: #0a0a0a;
  overflow: hidden;
  padding: 0;
  border-radius: 0;
}

.card-wine-container .card-wine-avatar .wine-image {
  display: block;
  margin: auto;
  border-radius: 50%;
  width: 11.875rem;
  height: 11.875rem;
  padding: 0.9375rem;
}

.card-wine-container .card-wine-avatar .wine-image:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.card-wine-container .card-wine-bio {
  padding: 1rem;
  text-align: center;
}

.card-wine-container .card-wine-bio .location {
  display: inline-block;
  margin: 0 0.9375rem;
  color: #767676;
  font-size: 0.875rem;
}

.card-wine-container .card-wine-bio .location-icon,
.card-wine-container .card-wine-bio .location-text {
  display: inline-block;
  padding: 0 0.3125rem;
}

.card-wine-container .card-wine-social {
  background: #e6e6e6;
  padding: 1rem;
  text-align: center;
}

.card-wine-container .card-wine-social ul {
  display: inline-block;
}

.card-wine-container .card-wine-social ul li {
  margin: 0 10px;
  font-size: 1.2em;
  cursor: pointer;
}

.card-wine-container .card-wine-social ul li:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.card-wine-container .card-wine-button {
  text-align: center;
  padding: 1rem;
}
/*Wine Card Container Ends */